@page
@model BackCourrier.Pages.Courriers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Courriers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Courriers.Réferences)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Courriers.Réferences)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Courriers.Expediteur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Courriers.Expediteur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Courriers.Objet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Courriers.Objet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Courriers.Commentaire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Courriers.Commentaire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Courriers.Coursier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Courriers.Coursier.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Courriers.Receptioniste)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Courriers.Receptioniste.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Courriers.Flag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Courriers.Flag.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Courriers.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Courriers.Status.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Courriers?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
